@import 'bourbon';
@import '_elements';

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #EEE
}

h2 {
  @include din-font('Regular');
  color: #FFF;
  font-size: em(36);
  line-height: em(54, 36);
  margin-bottom: em(15, 36);
  text-align: center;
}

h3 {
  @include din-font('Medium');
  color: #FFF;
  font-size: em(18);
  line-height: em(24, 18);
  text-align: center;
}

header {
  background: image-url('desk_pano.png') center;
  background-size: cover;
}

header, section {
  padding: em(150) 0;
}

footer {
  display: table;
  height: 150px;
  text-align: center;
  width: 100%;
}

main {
  @include opacity(0);
  @include transition (all 500ms ease-in-out);
  left: 150px;
  position: absolute;
  right: 0;
}

nav {
  background: #FFF;
  height: 100%;
  position: fixed;
  width: 150px;
  z-index: 500;
}

p {
  color: #FFF;
  font-family: "chaparral-pro-1","chaparral-pro-2", $georgia;
  font-size: em(18);
  line-height: em(30, 18);
  margin-top: em(40, 18);
  padding: 0 20%;
}

small {
  @include din-font('Bold');
  color: shade($steel, 30%);
  display: table-cell;
  line-height: em(24);
  vertical-align: middle;
  width: 100%;
}

::selection {
  color: #FFF;
  background: $gold;
}
