@import 'bourbon';
@import '_elements';

body {
  background: #EEE
}

h2 {
  @include din-font('Regular');
  color: #FFF;
  font-size: 2.25em; /* 36 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-bottom: .5em; /* 20 / 40 */
  text-align: center;
}


h3 {
  @include din-font('Medium');
  color: #FFF;
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333em; /* 24 / 18 */
  text-align: center;
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

footer {
  @include din-font('Bold');
  color: shade($steel, 30%);
  display: table;
  height: 150px;
  text-align: center;
  width: 100%;
}

form {
  padding: 0 20%;
}

input,
textarea {
  @include din-font('Light');
  @include transition (all 500ms ease-in-out);
  background: none;
  border: 2px solid tint($navy, 10%);
  border-radius: 0;
  color: #DDD;
  font-size: 1em; /* 16 / 16 */
  margin: 0.3125em 0 1.875em 0; /* 5 / 16  |  30 / 16 */
  padding: 2%;
  width: 96%;

  &:focus {
    border: 2px solid #DDD;
    outline: none;
  }
}

input[type=submit] {
  @include din-font('Medium');
  background: #DDD;
  border: #DDD;
  color: $navy;
  font-size: 0.875em; /* 14 / 16 */
  margin-bottom: 0;
  padding: 8px 12px;
  width: 100px;
  text-transform: uppercase;
  
  &:hover {
    background: $mustard;
    cursor: pointer;
  }
}

label {
  color: #DDD;
  font-family: 'Orator';
}

main {
  @include transition (all 500ms ease-in-out);
  opacity: 0;
  position: absolute;
  left: 150px;
  right: 0;
}

nav {
  background: #FFF;
  height: 100%;
  position: fixed;
  width: 150px;
  z-index: 500;
}

p {
  color: #FFF;
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia;
  font-size: 1.25em; /* 22 / 16 */
  line-height: 1.3636em; /* 30 */
  margin: 1.8181em 0 0 0; /* 40 / 22 */
  padding: 0 20%;
}

header,
section {
  padding: 9.375em 0; /* 150 / 16 */
}

small {
  display: table-cell;
  vertical-align: middle;
}

strong {
  font-weight: 600;
}

::selection {
  color: #FFF;
  background: $mustard;
}
