/* Colors */

$dark-gray: #333;
$primary: #FF5722;
$primary-shade: #E64A19;
$secondary: #FFC107;


/* Typography */

$futura: 'futura-pt-1', 'futura-pt-2', sans-serif;
$open-sans: 'Open Sans', $helvetica;

@mixin orator {
  font-family: 'orator-std-1', 'orator-std-2', sans-serif;
  text-transform: lowercase;
}

/* General */

@mixin emdash {
  content: "\2014";
  font-family: $open-sans;
  font-size: 40px;
  font-weight: 600;
  display: block;
  margin: em(30) 0;
}

@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=($trans * 100));
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin trans($property) {
  @include transition($property 250ms ease-in-out);
}

/* Animations */

@include keyframes(fade-in) {
  from { @include opacity(0); }
    to { @include opacity(1); }
}

@include keyframes(scale-in) {
    0% { transform: scale(1.5, 1.5); }
  100% { transform: scale(1, 1); }
}
