$gold: #D3AE29;
$navy: #1C212E;
$steel: #5E6A72;

@mixin emdash {
  content: "\2014";
  font-size: 40px;
  font-weight: 600;
  display: block;
  margin: em(30, 40) 0;
  text-align: center;
}

@mixin din_font($weight) {
  font-family: 'Din #{$weight}', $helvetica;
}

@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=($trans * 100));
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}
