@font-face {
    font-family: 'Orator';
    src: url('../fonts/orator.eot');
    src: url('../fonts/orator.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orator.woff') format('woff'),
         url('../fonts/orator.ttf') format('truetype'),
         url('../fonts/orator.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
