@font-face {
  font-family: 'Kondolar';
    src: url('../fonts/kondolar.eot');
    src: url('../fonts/kondolar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kondolar.woff') format('woff'),
         url('../fonts/kondolar.ttf') format('truetype'),
         url('../fonts/kondolar.svg#kondolar') format('svg');
}

@font-face {
  font-family: 'Orator';
    src: url('../fonts/orator.eot');
    src: url('../fonts/orator.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orator.woff') format('woff'),
         url('../fonts/orator.ttf') format('truetype'),
         url('../fonts/orator.svg#orator') format('svg');
}
