@import 'bourbon';
@import '_elements';

.bg-navy {
  background-color: $navy;
}

.bg-steel {
  background-color: $steel;
}

.bg-white {
  background-color: #FFF;
}

.bio-image {
  display: block;
  margin: 0 auto em(50) auto;
  width: 250px;
}

.browser {
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: em(50);
}

.browser-button {
  @include size(5);
  border: 2px solid #DDD;
  border-radius: 4px;
  display: inline-block;
}

.browser-header {
  background: #FFF;
  padding: em(5);
}

.button {
  @include din-font('Medium');
  @include transition (all 200ms ease-in-out);
  background: $gold;
  border-bottom: 2px solid $gold;
  color: $navy;
  cursor: pointer;
  display: inline-block;
  font-size: em(14);
  margin-top: em(40, 14);
  padding: 10px 0 8px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;

  &:hover {
    background: #FFF;
  }

  &:active {
    border-bottom: none;
    top: 2px;
  }
}

.center {
  text-align: center;
}

.fa {
  color: $gold;
}

.fade-in {
  @include opacity(1);
  @include transition (all 1000ms ease-in-out);
}

.header-unpadded {
  padding: 0;
}

.logo {
  @include size(150px 111px);
  @include transition (background 200ms ease-in-out, color 200ms ease-in-out);
  background: $gold;
  bottom: 0;
  color: $navy;
  display: block;
  font-family: 'Orator';
  font-size: em(40);
  padding-top: 39px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  
  &:hover {
    background: $navy;
    color: $gold;
  }
}

.emdash-gold:before {
  @include emdash;
  color: $gold;
}

.emdash-on-navy:before {
  @include emdash;
  color: lighten($navy, 5%);
}

.icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 20px;

  &.icon-mobile-payments { @include icon(0) }
  &.icon-analytics { @include icon(1) }
  &.icon-campaigns { @include icon(2) }
  &.icon-platform { @include icon(3) }
  &.icon-app-icon { @include icon(4) }
  &.icon-credit-card { @include icon(5) }
  &.icon-scanner { @include icon(6) }
  &.icon-no-chargebacks { @include icon(7) }
  &.icon-browser { @include icon(8) }
  &.icon-mobile-app { @include icon(9) }
  &.icon-loyalty { @include icon(10) }
  &.icon-receipt { @include icon(11) }
  &.icon-profile { @include icon(12) }
  &.icon-support { @include icon(13) }
  &.icon-email-notification { @include icon(14) }
  &.icon-scan { @include icon(15) }
  &.icon-transaction-history { @include icon(16) }
  &.icon-fraud-protection { @include icon(17) }
  &.icon-gift-cards { @include icon(18) }
  &.icon-feedback { @include icon(19) }
  &.icon-payment-processing { @include icon(20) }
  &.icon-one-account { @include icon(21) }
  &.icon-email-receipt { @include icon(22) }
  &.icon-registration { @include icon(23) }
  &.icon-loyalty-migration { @include icon(24) }
  &.icon-ordering { @include icon(25) }
  &.icon-places { @include icon(26) }
  &.icon-menu { @include icon(27) }
  &.icon-refer-a-friend { @include icon(28) }
  &.icon-security { @include icon(29) }
  &.icon-plastic-cards { @include icon(30) }
  &.icon-faq { @include icon(31) }
  &.icon-ibeacon { @include icon(32) }
  &.icon-promotion { @include icon(33) }
  &.icon-tablet { @include icon(34) }
  &.icon-iphone { @include icon(35) }
  &.icon-android { @include icon(36) }
  &.icon-plus-sign { @include icon(37) }
}

.icon-wrapper {
  background: #FFF;
  border-radius: 3px;
  margin-top: 3.125em;
  text-align: center;
}

.nav-inner {
  padding-top: em(20);
  text-align: right;
}

.nav-item {
  border-right: 5px solid rgba(0, 0, 0, 0);
  padding: em(10) em(25) em(10) 0;

  &.active {
    border-right: 5px solid $gold;
  }
}

.nav-link {
  @include din-font('Medium');
  @include transition (all 500ms ease-in-out);
  color: #BBB;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &.active, &:hover {
    color: #222;
  }
}

#projects h2,
#projects h3,
#projects p {
  color: #555;
}

.project-image {
  display: block;
  width: 100%;
}

.text-link {
  @include transition (all 500ms ease-in-out);
  border-bottom: 1px solid $gold;
  color: inherit;
  padding-bottom: em(3);
  text-decoration: none;
  
  &:hover {
    background: rgba(255, 255, 255, .3);
    border-bottom: 1px solid #FFF;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10%;
}
