@import 'bourbon';
@import '_elements';

.bg-navy {
  background-color: $navy;
}

.bg-steel {
  background-color: $steel;
}

.bio-image {
  display: block;
  margin: 0 auto em(50) auto;
  width: 250px;
}

.browser {
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: em(50);
}

.browser-button {
  @include size(5);
  border: 2px solid #DDD;
  border-radius: 4px;
  display: inline-block;
}

.browser-header {
  background: #FFF;
  padding: em(5);
}

.button {
  @include din-font('Medium');
  @include transition (all 200ms ease-in-out);
  background: $mustard;
  border-bottom: 2px solid $mustard;
  color: $navy;
  cursor: pointer;
  display: inline-block;
  font-size: em(14);
  margin-top: em(40, 14);
  padding: 10px 0 8px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;

  &:hover {
    background: #FFF;
  }

  &:active {
    border-bottom: none;
    top: 2px;
  }
}

.center {
  text-align: center;
}

.fa {
  color: $mustard;
}

.fade-in {
  @include opacity(1);
  @include transition (all 1000ms ease-in-out);
}

.header-unpadded {
  padding: 0;
}

.logo {
  @include size(150px 111px);
  @include transition (background 200ms ease-in-out, color 200ms ease-in-out);
  background: $mustard;
  bottom: 0;
  color: $navy;
  display: block;
  font-family: 'Orator';
  font-size: em(40);
  padding-top: 39px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  
  &:hover {
    background: $navy;
    color: $mustard;
  }
}

.nav-inner {
  padding-top: em(20);
  text-align: right;
}

.nav-item {
  border-right: 5px solid rgba(0, 0, 0, 0);
  padding: em(10) em(25) em(10) 0;
}

.nav-item.active {
  border-right: 5px solid $mustard;
}

.nav-link {
  @include din-font('Medium');
  @include transition (all 500ms ease-in-out);
  color: #BBB;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &.active, &:hover {
    color: #222;
  }
}

#projects h2,
#projects h3,
#projects p {
  color: #555;
}

.project:before {
  color: $mustard;
  content: "\2014";
  font-size: 40px;
  font-weight: 600;
  display: block;
  margin: em(30, 40) 0;
  text-align: center;
}

.project-image {
  display: block;
  width: 100%;
}

.text-link {
  @include transition (all 500ms ease-in-out);
  border-bottom: 1px solid $mustard;
  color: inherit;
  padding-bottom: em(3);
  text-decoration: none;
  
  &:hover {
    background: rgba(255, 255, 255, .3);
    border-bottom: 1px solid #FFF;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10%;
}
