@import 'bourbon';
@import '_elements';

.bg-primary {
  background-color: $primary;
}

.bg-gray {
  background-color: #EEE;
}

.bio-image {
  display: block;
  margin: 0 auto em(50) auto;
  width: 150px;
}

.browser {
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: em(50);
}

.browser-button {
  @include size(5);
  border: 2px solid #DDD;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
}

.browser-header {
  background: #FFF;
  font-size: 0;
  padding: 10px 0 10px 10px;
  text-align: left;
}

.button {
  @include trans(background);
  background: $secondary;
  border-top: none;
  border-bottom: 2px solid $primary-shade;
  color: $dark-gray;
  display: inline-block;
  font-family: $open-sans;
  font-size: em(14);
  font-weight: 600;
  margin-top: em(50);
  padding: 10px;

  &:hover {
    background: #FFF;
  }

  &:active {
    border-top: 2px solid $primary;
    border-bottom: none;
  }
}

.emdash-primary-shade:before {
  @include emdash;
  color: $primary-shade;
}

.emdash-secondary:before {
  @include emdash;
  color: $secondary;
}

.fa {
  color: $secondary;
  font-size: em(30);
  margin-bottom: 1em;
}

.header-logo {
  @include animation(scale-in 1s ease-in-out);
  margin-bottom: em(50);
  width: 100px;

  path {
    fill: $secondary;
  }

  text {
    @include orator;
    fill: #FFF;
    font-size: 30px;
  }
}

.hide-web {
  display: none;
}

.nav-inner {
  padding-top: em(20);
  text-align: right;
}

.nav-item {
  @include trans(all);
  border-right: 5px solid rgba(0, 0, 0, 0);
  padding: em(15) em(25) em(15) 0;

  &.active {
    border-right: 5px solid $secondary;
  }
}

.nav-link {
  @include trans(all);
  color: #777;
  display: inline-block;
  font-family: $open-sans;
  font-size: em(16);
  font-weight: 600;

  &.active, &:hover {
    color: #FFF;
  }
}

.nav-logo {
  @include position(absolute, auto auto 0px 0px);
  width: 150px;

  path {
    @include trans(fill);
    fill: $dark-gray;
  }

  text {
    @include trans(fill);
    @include orator;
    fill: $secondary;
    font-size: 30px;
  }

  &:hover {
    path {
      fill: $secondary;
    }

    text {
      fill: $dark-gray;
    }
  }
}

.text-link {
  @include trans(all);
  border-bottom: 2px solid $secondary;
  color: inherit;

  &:hover {
    background: rgba(255, 197, 41, .3);
  }
}

.white-text {
  color: #FFF;
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10%;
}
