@import 'bourbon';
@import '_elements';

.bg-coral {
  background-color: $coral;
}

.bg-gray {
  background-color: #EEE;
}

.bio-image {
  display: block;
  margin: 0 auto em(50) auto;
  width: 150px;
}

.browser {
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: em(50);
}

.browser-button {
  @include size(5);
  border: 2px solid #DDD;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
}

.browser-header {
  background: #FFF;
  font-size: 0;
  padding: 10px 0 10px 10px;
  text-align: left;
}

.button {
  @include transition(background 200ms ease-in-out);
  background: $gold;
  border-top: none;
  border-bottom: 2px solid $dark-coral;
  color: #222;
  display: inline-block;
  font-family: $open-sans;
  font-size: em(14);
  font-weight: 600;
  margin-top: em(50);
  padding: 10px;

  &:hover {
    background: #FFF;
  }

  &:active {
    border-top: 2px solid $coral;
    border-bottom: none;
  }
}

.fa {
  color: $gold;
  font-size: em(30);
  margin-bottom: 1em;
}

.emdash-dark-coral:before {
  @include emdash;
  color: $dark-coral;
}

.emdash-gold:before {
  @include emdash;
  color: $gold;
}

.header-logo {
  margin-bottom: em(50);
  width: 100px;

  path {
    fill: $gold;
  }

  text {
    @include orator;
    fill: #FFF;
    font-size: 30px;
  }
}

.hide-web {
  display: none;
}

.nav-inner {
  padding-top: em(20);
  text-align: right;
}

.nav-item {
  border-right: 5px solid rgba(0, 0, 0, 0);
  padding: em(10) em(25) em(10) 0;

  &.active {
    border-right: 5px solid $gold;
  }
}

.nav-link {
  @include transition(all 250ms ease-in-out);
  color: #777;
  display: inline-block;
  font-family: $open-sans;
  font-size: em(14);
  font-weight: 600;

  &.active, &:hover {
    color: #FFF;
  }
}

.nav-logo {
  @include position(absolute, auto auto 0px 0px);
  width: 150px;

  path {
    @include transition(fill 200ms ease-in-out);
    fill: #333;
  }

  text {
    @include transition(fill 200ms ease-in-out);
    @include orator;
    fill: $gold;
    font-size: 30px;
  }

  &:hover {
    path {
      fill: $gold;
    }

    text {
      fill: #333;
    }
  }
}

.project-image {
  display: block;
  width: 100%;
}

.text-link {
  @include transition(all 250ms ease-in-out);
  border-bottom: 2px solid $gold;
  color: inherit;

  &:hover {
    background: rgba(255, 197, 41, .3);
  }
}

.white-text {
  color: #FFF;
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10%;
}
