@import 'bourbon';
@import '_elements';

.bg-coral {
  background-color: $coral;
}

.bg-gray {
  background-color: #EEE;
}

.bio-image {
  display: block;
  margin: 0 auto em(50) auto;
  width: 150px;
}

.browser {
  border: 2px solid #FFF;
  border-radius: 3px;
  margin-top: em(50);
}

.browser-button {
  @include size(5);
  border: 2px solid #DDD;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
}

.browser-header {
  background: #FFF;
  border-bottom: 2px solid #FFF;
  font-size: 0;
  padding: 10px 0 10px 10px;
}

.button {
  @include transition (background 200ms ease-in-out);
  background: $gold;
  border-top: none;
  border-bottom: 2px solid $dark-coral;
  color: #222;
  display: inline-block;
  font-family: 'Open Sans', $helvetica;
  font-size: em(14);
  font-weight: 600;
  margin-top: em(50, 14);
  padding: 10px;
  text-decoration: none;

  &:hover {
    background: #FFF;
  }

  &:active {
    border-top: 2px solid $coral;
    border-bottom: none;
  }
}

.center {
  text-align: center;
}

.fa {
  color: $gold;
}

.fade-in {
  @include opacity(1);
  @include transition (opacity 1000ms ease-in-out);
}

.logo {
  @include size(150px 111px);
  @include transition (background 200ms ease-in-out, color 200ms ease-in-out);
  bottom: 0;
  color: $gold;
  display: block;
  font-family: 'Orator';
  font-size: em(40);
  padding-top: 39px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  
  &:hover {
    background: $gold;
    color: #333;
  }
}

.emdash-dark-coral:before {
  @include emdash;
  color: $dark-coral;
}

.emdash-gold:before {
  @include emdash;
  color: $gold;
}

.hide-web {
  display: none;
}

.nav-inner {
  padding-top: em(20);
  text-align: right;
}

.nav-item {
  border-right: 5px solid rgba(0, 0, 0, 0);
  padding: em(10) em(25) em(10) 0;

  &.active {
    border-right: 5px solid $gold;
  }
}

.nav-link {
  @include transition (all 250ms ease-in-out);
  color: #777;
  display: inline-block;
  font-family: 'Open Sans', $helvetica;
  font-size: em(14, 16);
  font-weight: 600;
  text-decoration: none;

  &.active, &:hover {
    color: #FFF;
  }
}

.project-image {
  display: block;
  width: 100%;
}

.text-link {
  @include transition (all 250ms ease-in-out);
  border-bottom: 2px solid $gold;
  color: inherit;
  text-decoration: none;
  
  &:hover {
    background: rgba(255, 197, 41, .3);
  }
}

.white-text {
  color: #FFF;
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10%;
}
