@import 'bourbon';
@import '_elements';

@media only screen and (max-width: 1050px) {
  p {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    left: auto;
    position: relative;
    right: auto;
  }

  header, section {
    padding: em(230) 0 em(150) 0;
  }

  nav {
    @include size(100% auto);
    background: rgba(51, 51, 51, .92);
    display: table;
    position: fixed;
    z-index: 1000;
  }

  .nav-logo {
    display: block;
    position: relative;
    width: 80px;

    path {
      fill: $secondary;
    }

    text {
      fill: $dark-gray;
    }

    &:hover {
      path {
        fill: none;
      }

      text {
        fill: $secondary;
      }
    }
  }

  .nav-inner {
    display: table-cell;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

  .nav-item {
    border-right: 0 !important;
    display: inline-block;
    margin-left: em(30);
    padding: 0;
  }

  .wrap {
    padding: 0 7%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: em(32);
  }

  h2, h3 {
    font-size: em(24);
  }

  h4 {
    font-size: em(18);
  }

  header,
  section {
    padding: em(50) 0;
  }

  nav {
    background: $primary;
    border-top: 3px solid $secondary;
    position: relative;
  }

  p {
    font-size: em(24);
    line-height: em(36, 24);
    padding: 0;
  }

  .emdash-primary-shade:before,
  .emdash-secondary:before {
    margin: em(10) 0;
  }

  .hide-mobile {
    display: none;
  }

  .hide-web {
    display: block;
  }

  .nav-logo {
    margin: 0 auto;
    width: 70px;
  }

  .nav-inner {
    display: none;
  }
}

@media only screen and (max-device-width: 600px) {
  a {
    -webkit-tap-highlight-color: rgba(255, 197, 41, .8);
  }

  .text-link {
    &:hover {
      background: none;
    }
  }
}
