@import 'bourbon';
@import '_elements';

@media only screen and (max-width: 1050px) {
  form, p {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    left: auto;
    position: relative;
    right: auto;
  }

  nav {
    @include size(100% auto);
    background: rgba(255, 255, 255, .9);
    display: table;
    position: fixed;
  }

  .logo {
    font-size: em(24);
    height: 62px;
    padding-top: 18px;
    position: relative;
    width: 80px;
  }

  .nav {
    display: table-cell;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

  .nav-item {
    border-right: 0 !important;
    display: inline-block;
    margin-left: 2em; /* 32 / 16 */
    padding: 0;
  }

  .nav-link {
    color: #777;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: em(32);
  }

  form, p {
    padding: 0;
  }

  header,
  section {
    padding: em(50) 0;
  }

  nav {
    background: #FFF;
    border-top: 3px solid $mustard;
    display: block;
    position: relative;
  }

  .fa {
    display: none !important;
  }

  .logo {
    font-size: 24px;
    height: 57px;
    margin: 0 auto;
    padding-top: 8px;
    width: 70px;
  }

  .nav {
    display: table;
    text-align: center;
  }

  .nav-item {
    display: table-cell;
    margin: 0;
    padding: 1.25em 0; /* 20 / 16 */
    width: 20%;
  }

  .nav-link.active {
    color: #777;
  }
}

@media only screen and (max-device-width: 600px) {
  .fa {
    display: none;
  }
}
