@import 'bourbon';
@import '_elements';

@media only screen and (max-width: 1050px) {
  p {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    left: auto;
    position: relative;
    right: auto;
  }

  nav {
    @include size(100% auto);
    display: table;
    position: relative;
  }

  .logo {
    background: $gold;
    color: #333;
    font-size: em(24);
    height: 62px;
    padding-top: 18px;
    position: relative;
    width: 80px;

    &:hover {
      background: #333;
      color: $gold;
    }
  }

  .nav-inner {
    display: table-cell;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

  .nav-item {
    border-right: 0 !important;
    display: inline-block;
    margin-left: em(32, 16);
    padding: 0;
  }

  .nav-link {
    color: #777;

    &.active {
      color: #777;
    }

    &:hover {
      color: #FFF;
    }
  }

  .wrap {
    padding: 0 7%;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: em(32);

    &.on-dark {
      font-size: em(27);
    }
  }

  h3 {
    font-size: em(22);
  }

  h5 {
    font-size: em(18);
  }

  header,
  section {
    padding: em(50) 0;
  }

  main {
    @include opacity(1);
  }

  nav {
    background: $coral;
    border-top: 3px solid $gold;
  }

  p {
    font-size: em(16);
    line-height: em(30, 16);
    padding: 0;
  }

  .hide-mobile {
    display: none;
  }

  .hide-web {
    display: block;
  }

  .logo {
    font-size: 24px;
    height: 57px;
    margin: 0 auto;
    padding-top: 8px;
    width: 70px;

    &:hover {
      background: $gold;
      color: #333;
    }
  }

  .nav-inner {
    display: none;
  }
}

@media only screen and (max-device-width: 600px) {
  a {
    -webkit-tap-highlight-color: rgba(255, 197, 41, .8);
  }

  .button {
    &:hover {
      background: $gold;
    }

    &:active {
      border-top: none;
      border-bottom: 2px solid $dark-coral;
    }
  }

  .text-link {
    &:hover {
      background: none;
    }
  }
}
