.project
  .emdash-secondary
  %h3= title
  %h5= date

  - images.each do |image|
    %figure.browser
      .browser-header
        .browser-button
        .browser-button
        .browser-button
      = image_tag image
