.project
  .emdash-secondary
  %h3= title

  - if browser
    %figure.browser
      .browser-header
        .browser-button
        .browser-button
        .browser-button
      = image_tag image_url
  - else
    %figure.not-browser
      = image_tag image_url
