#contact.bg-coral.js-anchor.js-contact-section
  %section
    .wrap
      .hide-mobile
        %h3
          %i.fa.fa-paper-plane
        %h4
          = mail_to email_address, email_address, class: 'text-link'

      .hide-web
        %h3
          %i.fa.fa-paper-plane
        %h4
          = mail_to email_address, 'Email', class: 'text-link'

      .emdash-dark-coral

      %h3
        %i.fa.fa-linkedin
      %h4
        = link_to 'LinkedIn', linkedin_url, target: '_blank', class: 'text-link'

      .emdash-dark-coral

      %h3
        %i.fa.fa-file-text
      %h4
        = link_to 'Resume', 'aas_resume_2014.pdf', target: '_blank', class: 'text-link'
