#projects.js-anchor
  %section.bg-gray
    .wrap
      %h1= t :projects_title

      = partial 'project', locals: { title: t(:project_claim_pages_title),
        date: t(:project_claim_pages_date),
        images: ['cohorts_show.png', 'cohorts_show_error.png', 'cohorts_show_map.png'] }
