#contact.bg-coral.js-anchor.js-contact-section
  %section
    .wrap
      %h3
        %i.fa.fa-paper-plane
      %h4
        = mail_to gmail_address, 'Email', class: 'text-link'

      .emdash-dark-coral

      %h3
        %i.fa.fa-linkedin
      %h4
        = link_to 'LinkedIn', linkedin_url, target: '_blank', class: 'text-link'

      .emdash-dark-coral

      %h3
        %i.fa.fa-phone
      %h4
        = cellphone_number
