#contact.bg-navy.js-anchor.js-contact-section
  %section
    .wrap
      %h4
        %i.fa.fa-paper-plane
      %h3
        = mail_to gmail_address, 'Email', class: 'text-link'

      .emdash-on-navy

      %h4
        %i.fa.fa-linkedin
      %h3
        = link_to 'LinkedIn', linkedin_url, target: '_blank', class: 'text-link'

      .emdash-on-navy

      %h4
        %i.fa.fa-phone
      %h3
        = '860-918-5895'
