#contact.js-anchor.js-contact-section
  %section.bg-navy
    .wrap
      %h3
        %i.fa.fa-paper-plane
      %h2
        = mail_to gmail_address, 'Email', class: 'text-link'

      %h3.emdash-on-navy
        %i.fa.fa-linkedin
      %h2
        = link_to 'LinkedIn', linkedin_url, target: '_blank', class: 'text-link'

      %h3.emdash-on-navy
        %i.fa.fa-pencil
      %h2
        = link_to 'Blog', blog_url, target: '_blank', class: 'text-link'

      %h3.emdash-on-navy
        %i.fa.fa-github
      %h2
        = link_to 'GitHub', github_url, target: '_blank', class: 'text-link'
