#contact.js-anchor.js-contact-section
  %section.bg-primary.white-text
    .wrap
      .hide-mobile
        %i.fa.fa-paper-plane
        %h2= mail_to email_address, email_address, class: 'text-link'

      .hide-web
        %i.fa.fa-paper-plane
        %h2= mail_to email_address, 'Email', class: 'text-link'

      .emdash-primary-shade

      %i.fa.fa-linkedin
      %h2= link_to 'LinkedIn', linkedin_url, target: '_blank', class: 'text-link'

      .emdash-primary-shade

      %i.fa.fa-file-text
      %h2= link_to 'Resume', resume_url, target: '_blank', class: 'text-link'
